<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
<head>


</head>
     
 
 </head>
 
 <body>
 
     <div class="container">
         <form  action="/run_algorithm" method="post" role="form">
             <h2>Please Enter The Parameters </h2>
	     <div>
             <input type="number" name="num_vehicles" class="form-control" placeholder="Number of vehicles" required autofocus>
	     <input type="text" name="vehicle_capacities" class="form-control" placeholder="Capacities of vehicles" required>
	     </div>
	     <div>
	     <textarea name="locations_dst" style="width:400px; height:400px;"placeholder="Destination Addresses">
</textarea>
	     <textarea name="locations_depot" style="width:400px; height:400px;"placeholder="Source Addresses">
</textarea>
	     <input type="text" name="demands" class="form-control" placeholder="Capacities of locations" required>
	     
	     </div>

             <input type="submit" value="Submit">
	</form>
	</br>
         <form  action="/reset" method="post" role="form">
             <input type="submit" value="Reset DB">
         </form>
	</br>      
     </div>
   
 </body>
 
 </html>
